<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <%- include('partials/navigation.ejs') %>

    <h1>Les presentamos SISS.NET nuestro poderoso ERP</h1>
    <p>El software SISS.NET es totalmente integral, robusto y le permite tener a la mano toda la trazabilidad de la información de su negocio, automatizar procesos básicos y ordinarios, logrando agilizar los tiempos de respuesta en cada servicio.</p>
</body>
</html>